label {
    input[type=checkbox],
    input[type=radio] {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        & + span {
            color: var(--text-color);
            line-height: 22px;
            min-height: 22px;
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
            position: relative;
            display: block;
            // margin-bottom: .5rem ;
            cursor: pointer;
            padding-left: 22px;
            
            &:before,
            &:after {
                content: '';
                display: block;
                left: 0;
                top: 0;
                position: absolute;
            }
            &:before {
                width: 22px;
                height: 22px;
                border: $border-width solid var(--light4);
                background-color: var(--light1);
                transition: background-color .3s ease, border-color .3s ease;
            }
            &:after {
                opacity: 0;
                transition: transform .3s ease, opacity .2s ease,  background-color .2s ease;
            }
        }
        & ~ span:not(:empty) {
            padding-left: 30px;
            padding-right: 10px;
        }
        &:checked + span {
            &:before {
                background-color: $primary-color;
                border-color: $border-color-active;
            }
            &:after {
                opacity: 1;
                transition: opacity .3s ease, background-color .3s ease, transform .6s cubic-bezier(.175, .88, .32, 1.2);
            }
        }
        &:hover:not(:checked) + span {
            &:before {
                border-color: $primary-color;
            }
        }
        &:focus + span{
            color: var(--title-color);
        }
    }
    
    
    input[type=checkbox] {
        &:indeterminate + span{
            &:after {
                content: "-";
                transform: scaleX(2) !important;
                font-weight: 700;
                opacity: 1;
                border: 0;
                top: 0;
                left: 8px !important;
            }
        }
        & + span {
            &:before {
                border-radius: $border-radius;
            }
            &:after {
                border: 2px solid var(--light1);
                border-top: 0;
                border-left: 0;
                width: 5px;
                height: 9px;
                left: 8px;
                top: 5px;
                transform: rotate(20deg);
            }
        }
        &:checked + span {
            &:after {
                /*rtl:ignore*/
                transform: rotate(43deg) translate(1px);
            }
        }
    }
    
    input[type=radio] {
        & + span {
            &:before,
            &:after {
                border-radius: 50%;
            }
            &:after {
                width: 22px;
                height: 22px;
                background-color: var(--light1);
                opacity: 0;
                transform: scale(.6);
            }
        }
        &:checked + span {
            &:after {
                background-color: var(--light1);
                transform: scale(.4);
            }
        }
    }
    
}

/*rtl:ignore*/
[dir="rtl"] label input[type=checkbox]:checked+span:after{
    transform: rotate(43deg) scaleX(-1);
}